<div>
    <p>Hello {{ username }},</p>

    <p>Your password has been successfully changed on {{ resetDate }}.</p>

    <p>If you did not make this change, please change your password immediately.</p>
    <p>Best regards,<br>The SilentiumChat Team</p>
</div>